{{navigationRecords}}
<div>
  <div style="max-width: 40%; float: left; margin: 30px">
    {% comment %}
    <strong> There are {{vehicles|length}} vehicles in db.<br /></strong> {%for
    v in vehicles%} {{v.id}} - {{v.plate}}<br />
    {%endfor%} {{vehicles.id}} - {{vehicles.plate}}
  </div>

  <div style="max-width: 40%; float: left; margin: 30px">
    <strong
      >There are {{navigationRecords|length}} vehicles in db.<br
    /></strong>
    {%for r in navigationRecords %} {{r}} - {{r.vehicle.plate}} -
    {{r.vehicle_plate}} <br />
    {%endfor%}{% endcomment %}
  </div>
</div>
